<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
      <form th:action="@{/save}"
         th:object="${customer}" method="POST">
         <br/>
         FullName:
         <input type="text" th:field="*{fullname}"  required/>    
         <br/>
         Phone:
         <input type="number" th:field="*{phone}"  required/>     
         <br/>
         Address:
         <input type="text" th:field="*{address}" required/>     
         <br/>
         Email:
         <input type="email" th:field="*{email}" required/>     
         <br/>
         <input type="submit" value="Create" />
      </form>
</body>
</html>